.colors {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 900px;
    justify-content: center;
}

.all-colors {
    display: flex;
    /* width: 1050px; */
    gap: 50px;
    justify-content: center;
    margin: 50px auto 50px auto;
    flex-wrap: wrap;
}

.color {
    font-weight: bold;
}

.color-detail {
    color: grey;
}