.variant {

    width: 150px;
    height: 50px;
    border-radius: 6px;
    display: flex;

}

.variant-details {
    color: grey;
    display: flex;
    justify-content: space-between;

}

.val {
    color: rgb(29, 29, 29);
    font-weight: 400;
}